<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gensee.fastsdk"
    android:installLocation="auto"
    android:versionCode="11"
    android:versionName="7.0" >



    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.camera.setParameters" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application
        android:allowBackup="true" >
        <activity
            android:name="com.gensee.fastsdk.ui.portrait.PublishActivity"
            android:configChanges="orientation|screenLayout|screenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name="com.gensee.fastsdk.ui.landscape.LandscapePubActivity"
            android:configChanges="orientation|screenLayout|screenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:hardwareAccelerated="true"
            android:name="com.gensee.fastsdk.ui.portrait.WatchActivity"
            android:configChanges="orientation|screenLayout|screenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name="com.gensee.fastsdk.ui.LiveActivity"
            android:configChanges="orientation|screenLayout|screenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <!-- alipay sdk end -->

        <service android:name="com.gensee.fastsdk.service.LogCatService" />


        <activity
            android:name="com.gensee.fastsdk.ui.VodActivity"
            android:configChanges="orientation|screenLayout|screenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    </application>

</manifest>


